In [26]:
import pandas as pd

In [97]:
oil_data = pd.read_csv("../data/raw/oil_consumption_total.csv")
electricity_generation_data = pd.read_csv("../data/raw/electricity_generation_total.csv")
energy_prod_data = pd.read_csv("../data/raw/energy_production_total.csv")

In [98]:
energy_prod_data.head()

,country,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,883.0,959.0,1050.0,1150.0,1170.0,1190.0,1060.0,1150.0,1250.0,NaN
1,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,137000.0,143000.0,155000.0,158000.0,167000.0,165000.0,164000.0,162000.0,152000.0,NaN
2,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43500.0,51400.0,51400.0,57600.0,70900.0,80000.0,95100.0,106000.0,101000.0,NaN
3,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84500.0,81300.0,84300.0,87100.0,84700.0,86200.0,82900.0,82900.0,80800.0,NaN
4,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,602.0,738.0,692.0,746.0,861.0,846.0,826.0,797.0,825.0,NaN

In [99]:
oil_data = oil_data.transpose()
oil_data = oil_data.fillna(0)
oil_data = oil_data.rename(columns=oil_data.iloc[0])

electricity_generation_data = electricity_generation_data.transpose()
electricity_generation_data = electricity_generation_data.fillna(0)
electricity_generation_data = electricity_generation_data.rename(columns=electricity_generation_data.iloc[0])

energy_prod_data = energy_prod_data.transpose()
energy_prod_data = energy_prod_data.fillna(0)
energy_prod_data = energy_prod_data.rename(columns=energy_prod_data.iloc[0])

In [100]:
oil_cols = oil_data.columns[oil_data.dtypes.eq(object)]
el_g_cols = electricity_generation_data.columns[electricity_generation_data.dtypes.eq(object)]
energy_cols = energy_prod_data.columns[energy_prod_data.dtypes.eq(object)]

In [101]:
oil_data[oil_cols] = oil_data[oil_cols].apply(pd.to_numeric, errors='coerce')
electricity_generation_data[el_g_cols] = electricity_generation_data[el_g_cols].apply(pd.to_numeric, errors='coerce')
energy_prod_data[energy_cols] = energy_prod_data[energy_cols].apply(pd.to_numeric, errors='coerce')

In [102]:
oil_data = oil_data.drop("country")
electricity_generation_data = electricity_generation_data.drop("country")
energy_prod_data = energy_prod_data.drop("country")

['Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Benin',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Kyrgyz Republic',
 'Latvia',
 'Lebanon',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Malaysia',
 'Malta',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Nigeria',
 'North Korea',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Singapore',
 'Slovak Republic',
 'Slovenia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [45]:
countries = []
for col in oil_data.columns:
    countries.append(col)

In [118]:
Asia = ["Azerbaijan", "Bangladesh", "China",'India',
 'Indonesia','Iran','Iraq','Israel','Japan',
 'Kazakhstan','Kuwait','Malaysia','Oman',
 'Pakistan','Philippines','Qatar','Saudi Arabia',
 'Singapore','South Korea',"Sri Lanka", "Thailand", "Vietnam",
 'Turkmenistan',"Uzbekistan",'United Arab Emirates',"Tunisia",
 "Tajikistan","North Korea","Nepal","Myanmar","Brunei", "Cambodia", "Jordan",
 "Mongolia","Kyrgyz Republic","Bahrain"]
Africa = ["Algeria","Angola","Egypt","Morocco",'South Africa',
"Zimbabwe", "Yemen", "Zambia", "Togo", "Tanzania", "Syria",
"Sudan","Senegal","Nigeria","Namibia",'Mozambique',
'Lebanon',"Libya","Kenya","Ghana",'Eritrea','Congo, Dem. Rep.',
 'Congo, Rep.',"Cote d'Ivoire","Cameroon","Benin", "Botswana","Ethiopia",
 "Gabon"]
Europe = ["Austria",'Belarus','Belgium', "Bulgaria", 'Croatia',
 'Cyprus','Czech Republic','Denmark','Estonia','Finland',
 'France','Germany','Greece','Hungary','Iceland',"Ireland",
 'Italy','Latvia','Lithuania','Luxembourg',"Netherlands",
 'North Macedonia','Norway', 'Poland',"Georgia",
 'Portugal','Romania','Russia','Slovak Republic',
 'Slovenia',"Sweden", "Spain", "Switzerland", "Ukraine",
 "United Kingdom", "Turkey",'Moldova',"Armenia","Malta",
 "Serbia", "Albania","Bosnia and Herzegovina"]
North_America = ["Canada", "Mexico","United States"]
South_America = ["Argentina", "Brazil", "Chile", "Colombia", "Ecuador",
"Peru",'Trinidad and Tobago',"Venezuela","Uruguay",'Panama',
 'Paraguay','Nicaragua','Guatemala','Haiti','Honduras','Costa Rica',
 "Jamaica", "Bolivia", "Cuba", "El Salvador","Dominican Republic"]
Oceania = ["Australia", "New Zealand"]

In [81]:
oil_consumption_asia = []
oil_consumption_africa = []
oil_consumption_europe = []
oil_consumption_north_america = []
oil_consumption_south_america =[]
oil_consumption_oceania = []
oil_consumption_years = []
for i in range(len(oil_data)):
    oil_consumption_ASIA = 0
    oil_consumption_AFRICA = 0
    oil_consumption_EUROPE = 0
    oil_consumption_NA = 0
    oil_consumption_SA = 0
    oil_consumption_OCEANIA = 0
    for country in countries:
        if country in Asia:
            oil_consumption_ASIA += oil_data[str(country)][i]
        elif country in Africa:
            oil_consumption_AFRICA += oil_data[str(country)][i]
        elif country in Europe:
            oil_consumption_EUROPE += oil_data[str(country)][i]
        elif country in North_America:
            oil_consumption_NA += oil_data[str(country)][i]
        elif country in South_America:
            oil_consumption_SA += oil_data[str(country)][i]
        elif country in Oceania:
            oil_consumption_OCEANIA += oil_data[str(country)][i]
        else:
            print("F*** country is missing!!!")
            print(country)
    oil_consumption_asia.append(oil_consumption_ASIA)
    oil_consumption_africa.append(oil_consumption_AFRICA)
    oil_consumption_europe.append(oil_consumption_EUROPE)
    oil_consumption_north_america.append(oil_consumption_NA)
    oil_consumption_south_america.append(oil_consumption_SA)
    oil_consumption_oceania.append(oil_consumption_OCEANIA)
    oil_consumption_years.append(oil_data.index[i])

In [93]:
oil_cons_cleaned = oil_data
oil_cons_cleaned["Oil_Cons_Asia"] = oil_consumption_asia
oil_cons_cleaned["Oil_Cons_Africa"] = oil_consumption_africa
oil_cons_cleaned["Oil_Cons_Europe"] = oil_consumption_europe
oil_cons_cleaned["Oil_Cons_NA"] = oil_consumption_north_america
oil_cons_cleaned["Oil_Cons_SA"] = oil_consumption_south_america
oil_cons_cleaned["Oil_Cons_Oceania"] = oil_consumption_oceania

In [94]:
oil_cons_cleaned.to_csv("../data/oil_cons.csv")

In [91]:
countries = []
for col in electricity_generation_data.columns:
    countries.append(col)

In [92]:
el_generation_asia = []
el_generation_africa = []
el_generation_europe = []
el_generation_north_america = []
el_generation_south_america =[]
el_generation_oceania = []
el_generation_years = []
for i in range(len(electricity_generation_data)):
    el_generation_ASIA = 0
    el_generation_AFRICA = 0
    el_generation_EUROPE = 0
    el_generation_NA = 0
    el_generation_SA = 0
    el_generation_OCEANIA = 0
    for country in countries:
        if country in Asia:
            el_generation_ASIA += electricity_generation_data[str(country)][i]
        elif country in Africa:
            el_generation_AFRICA += electricity_generation_data[str(country)][i]
        elif country in Europe:
            el_generation_EUROPE += electricity_generation_data[str(country)][i]
        elif country in North_America:
            el_generation_NA += electricity_generation_data[str(country)][i]
        elif country in South_America:
            el_generation_SA += electricity_generation_data[str(country)][i]
        elif country in Oceania:
            el_generation_OCEANIA += electricity_generation_data[str(country)][i]
        else:
            print("F*** country is missing!!!")
            print(country)
    el_generation_asia.append(el_generation_ASIA)
    el_generation_africa.append(el_generation_AFRICA)
    el_generation_europe.append(el_generation_EUROPE)
    el_generation_north_america.append(el_generation_NA)
    el_generation_south_america.append(el_generation_SA)
    el_generation_oceania.append(el_generation_OCEANIA)
    el_generation_years.append(electricity_generation_data.index[i])

In [95]:
el_gen_cleaned = electricity_generation_data
el_gen_cleaned["El_Generation_Asia"] = el_generation_asia
el_gen_cleaned["El_Generation_Africa"] = el_generation_africa
el_gen_cleaned["El_Generation_Europe"] = el_generation_europe
el_gen_cleaned["El_Generation_NA"] = el_generation_north_america
el_gen_cleaned["El_Generation_SA"] = el_generation_south_america
el_gen_cleaned["El_Generation_Oceania"] = el_generation_oceania

In [96]:
el_gen_cleaned.to_csv("../data/electricity_generation.csv")

In [109]:
countries = []
for col in energy_prod_data.columns:
    countries.append(col)

In [119]:
energy_prod_asia = []
energy_prod_africa = []
energy_prod_europe = []
energy_prod_north_america = []
energy_prod_south_america =[]
energy_prod_oceania = []
energy_prod_years = []
for i in range(len(energy_prod_data)):
    energy_prod_ASIA = 0
    energy_prod_AFRICA = 0
    energy_prod_EUROPE = 0
    energy_prod_NA = 0
    energy_prod_SA = 0
    energy_prod_OCEANIA = 0
    for country in countries:
        if country in Asia:
            energy_prod_ASIA += energy_prod_data[str(country)][i]
        elif country in Africa:
            energy_prod_AFRICA += energy_prod_data[str(country)][i]
        elif country in Europe:
            energy_prod_EUROPE += energy_prod_data[str(country)][i]
        elif country in North_America:
            energy_prod_NA += energy_prod_data[str(country)][i]
        elif country in South_America:
            energy_prod_SA += energy_prod_data[str(country)][i]
        elif country in Oceania:
            energy_prod_OCEANIA += energy_prod_data[str(country)][i]
        else:
            print("F*** country is missing!!!")
            print(country)
    energy_prod_asia.append(energy_prod_ASIA)
    energy_prod_africa.append(energy_prod_AFRICA)
    energy_prod_europe.append(energy_prod_EUROPE)
    energy_prod_north_america.append(energy_prod_NA)
    energy_prod_south_america.append(energy_prod_SA)
    energy_prod_oceania.append(energy_prod_OCEANIA)
    energy_prod_years.append(energy_prod_data.index[i])

In [121]:
energy_prod_cleaned = energy_prod_data
energy_prod_cleaned["Energy_Production_Asia"] = energy_prod_asia
energy_prod_cleaned["Energy_Production_Africa"] = energy_prod_africa
energy_prod_cleaned["Energy_Production_Europe"] = energy_prod_europe
energy_prod_cleaned["Energy_Production_NA"] = energy_prod_north_america
energy_prod_cleaned["Energy_Production_SA"] = energy_prod_south_america
energy_prod_cleaned["Energy_Production_Oceania"] = energy_prod_oceania

In [122]:
energy_prod_cleaned.to_csv("../data/energy_production.csv")